
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}
header {
  background: #111;
  color: white;
  padding: 10px;
  text-align: center;

  .data-devocional {
  font-weight: bold;
  color: #555;
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 0.95em;
}

}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  text-align: justify;
}
